<div class="content">
  <section id="welcome-menu">
    <div class="animated fadeInDown faster">
      <!--Headers-->
      <div id="welcome-header">
        <img class="logo" src="assets/images/rep-review_barbell-logo_black.png" />
        <h2 id="welcome-title" class="contentHeader">Welcome to Rep Review!</h2>
        <img class="logo" src="assets/images/rep-review_barbell-logo_black.png" />
      </div>

      <div id="welcome-about">
        <p>
          Get a sense of where your lifts are at. <br />Calculate your theoretical one-rep max, get estimated weights
          for rep ranges, and compare your main lifts to benchmark performance standards.
        </p>
      </div>
    </div>
    <!--Options-->
    <div id="welcome-options">
      <div id="welcome-links">
        <div class="welcome-link bgOffBlack animated fadeInLeft faster">
          <a id="one-rep-welcome-link" routerLink="/1rm">
            <h4 class="fgOffWhite">Calculate 1RM</h4>
            <p class="fgSilver">
              Calculate your theoretical one-rep max and estimated weights for different rep ranges.
            </p>
          </a>
        </div>

        <div class="welcome-link bgOffBlack animated fadeInRight faster">
          <a id="benchmark-welcome-link" routerLink="/benchmark">
            <h4 class="fgOffWhite">Compare To Benchmarks</h4>
            <p class="fgSilver">Compare your one-rep-max to benchmark performance standards.</p>
          </a>
        </div>

        <div class="welcome-link bgOffBlack animated fadeInLeft faster">
          <a id="charts-welcome-link" routerLink="/charts">
            <h4 class="fgOffWhite">Benchmark Charts</h4>
            <p class="fgSilver">View the benchmark performance standard data charts.</p>
          </a>
        </div>

        <div class="welcome-link bgOffBlack animated fadeInRight faster">
          <a id="faq-welcome-link" routerLink="/faq">
            <h4 class="fgOffWhite">FAQ</h4>
            <p class="fgSilver">Get answers for your questions about 1RM, benchmarks, and formulas.</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
